.edit-form__content {
    width: 680px;
    height: 678px;

    position: absolute;
    top: 178px;
    left: 300px;

    opacity: 1;
    transform: rotate(0deg);
}

.edit-form__content h2 {
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;

    opacity: 1;
}

.profile__image {
    width: 150px;
    height: 150px;

    
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(217, 217, 217, 1);
}

.profile__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-select-button {
    width: 179px;
    height: 49px;

    position: absolute;
    top: 160px;
    left: 200px;

    border-radius: 10px;
    border: 2px solid rgba(255, 85, 85, 1);
    background: transparent;

    color: rgba(255, 85, 85, 1);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;

    cursor: pointer;
}

.form__group {
    margin-bottom: 30px;
}

.profile + .form__group {
    margin-top: 80px;
}

.form__label--item,
.form__input--item {
    width: 680px;
    height: 35px;

    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 1);
    opacity: 1;

    transform: rotate(0deg);
}

.form__group-content input {
    width: 680px;
    height: 59px;

    border-radius: 4px;
    border: 1px solid #000;

    opacity: 1;
    transform: rotate(0deg);

    font-size: 16px;
}

.form__button-submit {
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    width: 680px;
    height: 65px;

    background-color: rgba(255, 85, 85, 1);
    border-radius: 5px;
    border: none;

    font-weight: 700;
    color: rgba(255, 255, 255, 1);

    margin-top: 50px;
}

.form__error {
    color: red;
}